body{
    background: #fff;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
/*浮动和清除浮动*/
.f_left{
    float:left;
}
.f_right{
    float:right;
}
.clearFix::before,
.clearFix::after{
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear: both;
}

.m_l10{
    margin-left: 10px;
}
.m_r10{
    margin-left: 10px;
}
.m_t10{
    margin-left: 10px;
}
.m_b10{
    margin-left: 10px;
}

.lt_container{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*头部区域*/
.lt_container .lt_header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 45px;
    line-height: 45px;
    background-color: #006699;
    color: #fff;
    z-index: 1000;
}
.lt_container .lt_header .box{
    width: 100%;
    height: 45px;
    margin: 0 auto;
    position: relative;
}
.lt_container .lt_header .box .left{
    position:absolute ;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
}
.lt_container .lt_header .box .right{
    position: absolute;
    width: 45px;
    height: 45px;
    right: 0;
    top: 0;
    line-height: 45px;
    text-align: center;
    color: #fff;
}
.lt_container .lt_header .box .center{
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
    position: relative;
    text-align: center;
    line-height: 45px;
}
.lt_container .lt_header .box .center h3{
    font-size: 16px;
    line-height: 45px;
    font-weight: normal;
    margin: 0;
}

/*中间区域*/
.lt_container .lt_content{
    width: 100%;
    height: 100%;
    top: 45px;
    bottom: 55px;
    /*display: block;*/
    position: relative;
}
.lt_container .lt_content .wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}

/*底部区域*/
.lt_container .lt_footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: #006699;
}
.lt_container .lt_footer a{
    color: #fff;
    float: left;
    width: 25%;
    height: 55px;
    padding-top: 5px;
    text-align: center;
}
.lt_container .lt_footer li.now a{
    color: orange;
}
.lt_container .lt_footer a p{
    padding-top: 5px;
    font-size: 12px;
}